# Generated and compiled files
*.pyc
*.o
*.exe
*.log

# Build and packaged files
__pycache__
*.pyc

# Checkpoints
artifacts/
saved_models/
pths/
*.csv
*.pth
.pth
.ckpt

# IDE and Editor files
.vscode
.idea
.pycharm.debug
.cache

# Virtual environment files
venv
.env

# Source code management files
.svn
.git
.DS_Store

# Backup and temporary files
*.bak
*.tmp
*.swp

# Third-party libraries
node_modules
vendor

# Operating system files
.AppleDouble
.LSOverride
Desktop.ini