name: Activity Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics-activity.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: namgyu-youn
          template: classic
          base: activity
          config_octicon: yes
          config_padding: 0
          config_timezone: Asia/Seoul
          config_display: compact
          config_margin: 0
          config_item_spacing: 0